.hero{
    position: relative;
}
.banner{
    width: 100%;
    mask-image: linear-gradient(to right,transparent,black 75%);
}
.hero-caption{
    position:absolute;
    width: 100%;
    bottom: 0;
    padding-left: 6%;
}
.capt-img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero-btns{
    display: flex;
     gap: 10px;
     margin-bottom: 50px;
}
.hero-btns img{
    width: 25px;
}
.hero-btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.hero-btns .dark-btn{
    color: #fff;
    background-color: #6d6d6eb3;
}
.hero-btns .btn:hover{
background: #ffffffbf;
}
.hero-btns .dark-btn:hover{
    background-color: #6d6d6e66;
}
.more-cards{
    padding-left: 6%;
}
@media (max-width:1024px) {
    .hero-caption .titlecards{
        display: none;
    }
    .hero-btns{
        margin-bottom: 30px;
    }
}
@media (max-width:800px){
    .hero-caption{
        padding-left: 4%;
    }
    .capt-img{
        margin-bottom: 10px;
        width: 40%;
    }
    .hero-caption p{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .btn img{
        width: 20px;
    }
    .more-cards {
        padding-left: 4%;
    }
}
@media (max-width:500px){
    .capt-img{
        display: none;
    }
    .btn img{
        width: 15px;
    }
    .btn{
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
}

